* {
	box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */                                  
}

body {
	background-image: linear-gradient(to right, #c31432, #240b36);
    height: 700px;
    overflow: hidden;
}

#calculator {
	font-family: arial;
	font-size: 0px;
	/*border: 2px solid rgb(25,19,38,0.2);*/
	border-radius: 4px;
	/*mix-blend-mode: normal;*/
	/*height: 3500px;*/
	width: 454px;
	position: relative;
	/*top: 50%;*/
	margin-top: 150px;
	left: 50%;
	margin-left: -227px;
	padding: 5px;
	z-index: 2;
}

/*#calculator::before {
	content: "";
	position: absolute;
	top: -52px;
	left: -52px;
	right: -52px;
	bottom: -52px;
	background: #4364f7;
	-webkit-filter: blur(10px);
	-moz-filter: blur(150px);
	filter: blur(150px);
	z-index: -1;
}*/

#calculator::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 4px;
	/*background: #4364f7;*/
	/*box-shadow: 400px 0px 400px rgb(255,0,255, 0.1), -400px 0px 400px rgb(255,0,255, 0.1);*/
	z-index: -1;
}	

.button {
	display: inline-block;
	height: 50px;
	width: 100px;
	text-align: center;
	color: white;
	margin: 5px;
	line-height: 50px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(0,0,0,0.1);
}


#display {
	display: inline-block;
	height: 50px;
	width: 430px;
	text-align: center;
	background-color: rgb(25,19,38,0.2);
	color: white;
	margin: 0px 5px 5px 5px;
	line-height: 50px;
	border-radius: 0px 0px 5px 5px;
	font-size: 28px;
	text-align: right;
	padding-right: 18px;
	overflow: hidden;
	padding-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;

}

#history {
	display: inline-block;
	height: 31px;
	width: 430px;
	text-align: right;
	background-color: rgb(25,19,38,0.2);
	color: rgb(255,255,255,0.4);
	margin: 0px 5px 0px 5px;
	line-height: 50px;
	border-radius: 5px 5px 0px 0px;
	font-size: 16px;
	padding-right: 18px;
	overflow: hidden;
}

#ac-button {
	background-color: rgb(255,255,255,0.9);
	color: black;
	mix-blend-mode: overlay;
}

#multiply-button, #divide-button, #minus-button, #plus-button {
	background-color: rgb(125, 47, 117);
	color: black;
	opacity: 0.6;
}

#equals-button {
	background-color: #4364f7;
	/*filter: blur(150px)*/
}

@media (min-width: 600px) {
	.button:hover {
		mix-blend-mode: screen;
		background-color: rgb(255,255,255, 0.1);
	}

	#ac-button:hover {
		filter: invert(1);
		mix-blend-mode: screen;
	}

	#equals-button:hover {
		filter: none;
		mix-blend-mode: overlay;
	}

	#multiply-button:hover, #divide-button:hover, #minus-button:hover, #plus-button:hover {
		filter: invert(1);
		mix-blend-mode: overlay;
		opacity: 1;
	}

	.button:active {
		/*filter: brightness(70%);*/
		/*opacity: 90%;*/
		transform: translateY(1px);
	}
}


/*#ac-button:active {
	opacity: 90%;
}

#multiply-button:active, #divide-button:active, #minus-button:active, #plus-button:active {
	filter: brightness(130%) invert(1);
	opacity: 90%;
}

#equals-button:active {
	filter: brightness(90%);
	opacity: 80%;
}*/

@media (max-width: 600px) {
	body {
		padding: 0px;
		margin: 19px;
		/*height: 800px;*/
	}

	#calculator {
		padding: 0px;
		margin: 0px;
		width: 100%;
		margin-left: -50%;
	}

	#display {
		width: 100%;
		/*padding: 0px;*/
		margin: 0% 0% 4% 0%;
	}

	#history {
		width: 100%;
		/*padding: 0px;*/
		margin: 0% 0% 0% 0%;
	}

	.button {
		width: 22%;
		/*padding-bottom: 22%;*/
		/*padding-bottom: 11%;*/
		/*margin-bottom: 10px;*/
		/*height: 22%;*/
		margin: 0% 4% 4% 0%;
		/*border-radius: 50%;*/
		/*vertical-align: text-bottom;*/
		/*padding: 5px;*/
	}

	.final-column {
		margin: 0% 0% 4% 0%;
	}
}
